base_url: http://localhost:8000
headless: 0
run_scenarios: 1
scenario_include_api: 1
scenario_exploration: 1
scenario_include_autonomous: 1
autonomous_scenario: 1
autonomous_only: 0
autonomous_max_steps: 12
scenario_lock_ttl_sec: 7200
scenario_shadow_mode: 0
scenario_min_event_delta: 5
scenario_min_runtime_sec: 4
scenario_retry_on_low_events: 1
scenario_retry_delay_sec: 8
api_scan_mode: all
api_scan_force_examples: 1
policy_strict: 0
policy_auto_promote_threshold: 0.2
policy_force_promote: 1
autonomous_policy: 1
autonomous_policy_fallback: 1
force_autonomous_policy: 1
force_reindex: 1
force_contract_seed: 1
reasoning_enabled: 1
keep_browser: 0
step_timeout_sec: 45
diagnostic_timeout_sec: 600
master_verify_lock_ttl_sec: 7200
agent_mode: autonomous
agent_mode_bypass_env: BGL_LIGHT_MODE
browser_enabled: 1
browser_mode: visible
max_pages: 3
page_idle_timeout: 120
run_scenarios_lock_ttl_sec: 7200
browser_cpu_max: null
browser_ram_min_gb: null
run_gap_tests: 1
run_api_contract: 1
measure_perf: 1
llm:
  base_url: http://127.0.0.1:11434
  model: qwen2.5-coder:7b
  auto_start: 1
feature_flags:
  deprecated_routes: []
decision:
  mode: autonomous
  mode_bypass_env: BGL_LIGHT_MODE
  auto_fix:
    min_confidence: 0.60
    max_risk: medium
  refactor:
    requires_human: true
  reindex_full:
    requires_human: false
approvals_enabled: 0
execution_mode: autonomous
post_wait_ms: 1500
hover_wait_ms: 300
slow_mo_ms: 400
allow_prod_without_human: 1
auto_submit_search: 1
auto_submit_form: 1
store_ui_actions: 1
ui_action_limit: 80
ui_action_window_days: 7
ui_action_sample_limit: 12
ui_action_goal_limit: 4
ui_action_goal_min_score: 45
min_ui_action_coverage: 30
coverage_min_events: 20
ui_action_min_snapshots: 2
flow_min_events: 10
memory_auto_curate: 1
memory_auto_merge: 1
memory_auto_split: 1
memory_merge_limit: 240
memory_split_limit: 80
memory_group_min: 3
memory_suppress_threshold: 0.35
memory_split_min_len: 180
autonomy_goal_limit: 8
canary_min_age_sec: 0
canary_auto_rollback: 1
canary_recheck_sec: 3600
post_apply_validate: 1
post_apply_validate_mode: checks
post_apply_validate_max_files: 4
post_apply_validate_prod: 1
post_apply_auto_rollback_on_fail: 1
post_apply_immediate_canary_eval: 1
post_apply_auto_promote_prod: 1
auto_patch_on_errors: 1
auto_patch_limit: 2
auto_patch_min_conf: 0.6
auto_patch_min_evidence: 3
dream_mode_on_exploration: 1
dream_mode_timeout_sec: 60
dream_mode_batch_limit: 8
dream_mode_max_insights: 8
dream_mode_sleep_seconds: 0.1
auto_propose: 1
auto_propose_min_conf: 0.7
auto_propose_min_evidence: 3
auto_propose_min_conf_high: 0.7
auto_propose_min_evidence_high: 2
auto_propose_limit: 6
auto_plan: 1
auto_plan_limit: 3
auto_apply: 1
auto_apply_limit: 3
auto_digest: 1
auto_digest_hours: 12
auto_digest_limit: 400
auto_verify: 1
auto_verify_on_low_success: 1
auto_verify_success_threshold: 0.6
auto_verify_on_ui_gap: 1
auto_verify_ui_gap_threshold: 30
auto_verify_on_route_gap: 1
auto_verify_route_coverage_threshold: 60
auto_verify_on_contract_gap: 1
stall_recovery_threshold: 2
idle_recovery_after_sec: 6
idle_recovery_enabled: 1
precheck_fail_timeout_sec: 8
auto_self_heal: 1
self_heal_toggle_limit: 3
self_heal_write_goal: 1
self_heal_goal_ttl_days: 7
self_heal_write_gap_goal: 1
self_heal_text_limit: 3
prod_ops_full: 1
prod_ops_hours: 0
prod_ops_limit: 0
fallback_rules_enabled: 1
fallback_rules_lookback_hours: 0
fallback_rules_min_samples: 3
fallback_rules_block_rate: 0.4
fallback_rules_expire_days: 7
fallback_outcomes_enabled: 1
fallback_outcomes_hours: 24
fallback_outcomes_min_samples: 4
fallback_outcomes_fail_rate: 0.45
fallback_outcomes_block_rate: 0.75
fallback_outcomes_expire_days: 7
external_dependency_window_minutes: 30
external_dependency_retry_minutes: 30
external_dependency_fallback_minutes: 30
external_dependency_min_count: 1
canary_external_dependency_rollback: 1
