base_url: http://localhost:8000
headless: 0
run_scenarios: 1
scenario_include_api: 1
scenario_exploration: 1
scenario_include_autonomous: 1
autonomous_scenario: 1
autonomous_only: 0
autonomous_max_steps: 12
scenario_shadow_mode: 0
api_scan_mode: all
api_scan_force_examples: 1
policy_strict: 0
policy_auto_promote_threshold: 0.2
policy_force_promote: 1
autonomous_policy: 1
autonomous_policy_fallback: 1
force_autonomous_policy: 1
force_reindex: 1
force_contract_seed: 1
reasoning_enabled: 1
keep_browser: 0
step_timeout_sec: 45
diagnostic_timeout_sec: 600
agent_mode: autonomous
agent_mode_bypass_env: BGL_LIGHT_MODE
browser_enabled: 1
browser_mode: visible
max_pages: 3
page_idle_timeout: 120
browser_cpu_max: null
browser_ram_min_gb: null
run_gap_tests: 1
run_api_contract: 1
measure_perf: 1
llm:
  base_url: http://127.0.0.1:11434
  model: qwen2.5-coder:7b
  auto_start: 1
feature_flags:
  deprecated_routes: []
decision:
  mode: autonomous
  mode_bypass_env: BGL_LIGHT_MODE
  auto_fix:
    min_confidence: 0.60
    max_risk: medium
  refactor:
    requires_human: true
  reindex_full:
    requires_human: false
execution_mode: autonomous
post_wait_ms: 1500
hover_wait_ms: 300
slow_mo_ms: 400
auto_submit_search: 1
store_ui_actions: 1
ui_action_limit: 80
ui_action_window_days: 7
ui_action_sample_limit: 12
ui_action_goal_limit: 4
ui_action_goal_min_score: 45
min_ui_action_coverage: 30
canary_min_age_sec: 0
auto_patch_on_errors: 1
auto_patch_limit: 2
auto_patch_min_conf: 0.6
auto_patch_min_evidence: 3
dream_mode_on_exploration: 1
dream_mode_timeout_sec: 60
dream_mode_batch_limit: 8
dream_mode_max_insights: 8
dream_mode_sleep_seconds: 0.1
